<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Neklo_News::manage_article" title="News" sortOrder="0">
                        <resource id="Neklo_News::article" title="Article">
                        <resource id="Neklo_News::article_delete" title="Delete Article" sortOrder="0"/>
                        <resource id="Neklo_News::article_save" title="Save Article" sortOrder="0"/>
                        </resource>
                    <resource id="Neklo_News::manage_categories" title="Category" sortOrder="0">
                        <resource id="Neklo_News::category_delete" title="Delete Category" sortOrder="0"/>
                        <resource id="Neklo_News::run_category" title="Run Category" sortOrder="0"/>
                        <resource id="Neklo_News::category_save" title="Save Category" sortOrder="0"/>
                    </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Neklo_News::config_table" title="Neklo" translate="title">
                                <resource id="Neklo_News::article_block" title="News" translate="title"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>