<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <news>
            <news>
                <is_enabled>1</is_enabled>
                <name_table>List block news</name_table>
            </news>
        </news>
        <url>
            <url_filds>
                <def_url>news</def_url>
                <pref_url>.xml</pref_url>
            </url_filds>
        </url>
        <links>
            <links_control_header_link>
                <is_activ>1</is_activ>
                <title_url>Main</title_url>
            </links_control_header_link>
            <links_control_footer_link>
                <is_activ>1</is_activ>
                <title_url>Go to news</title_url>
            </links_control_footer_link>
            <links_control_navigation>
                <is_activ>1</is_activ>
                <title_url>Go to news</title_url>
            </links_control_navigation>
        </links>
    </default>
</config>