<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <news>
            <news>
                <is_enabled>1</is_enabled>
            </news>
        </news>
    </default>
    <default>
        <news>
            <news>
                <name_table>List block news</name_table>
            </news>
        </news>
    </default>
    <default>
        <url>
            <url_filds>
                <def_url>news</def_url>
            </url_filds>
        </url>
    </default>
    <default>
        <url>
            <url_filds>
                <pref_url>.html</pref_url>
            </url_filds>
        </url>
    </default>
</config>