<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="article_list_data_source" xsi:type="string">Neklo\News\Model\ResourceNews\News\Grid\Collection</item>
                <item name="categories_list_data_source" xsi:type="string">Neklo\News\Model\ResourceNews\Categories\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>