<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="neklo_news_article_list_data_source" xsi:type="string">
                    Neklo\News\Model\ResourceModel\Article\Grid\Collection
                </item>
                <item name="neklo_news_category_list_data_source" xsi:type="string">
                    Neklo\News\Model\ResourceModel\Category\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>